<section fxFlex class="dailyStats">
  <mat-card>
    <mat-card-header fxLayoutAlign="center center">Daily results</mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of dailyStats()">
          {{item.day | date:'dd/MM-yyyy'}} : {{item.dailyReturn}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>


<h1 >Outcome of Bets</h1>

<div style="display: block">
  <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          ></canvas>
</div>




<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()">Update</button>
</div>
