div.mat-form-field-wrapper {
  padding-right: 5px;
}

::ng-deep div.mat-form-field-flex,
div.mat-form-field-infix {
  height: 20px!important;
}

mat-form-field.odds,
mat-form-field.stake {
  width: 90px;
}

mat-dialog-container {
  width: calc(100vw);
}

div.cdk-overlay-container ::ng-deep #cdk-overlay-0 {
  max-width: calc(100vw)!important;
}

::ng-deep #cdk-overlay-0,
::ng-deep #cdk-overlay-1,
::ng-deep #cdk-overlay-2,
#cdk-overlay-0 {
  max-width: calc(100vw)!important;
}

//form {
//  overflow: scroll;
//}

h1 {
  horiz-align: center;
}

.Xs, .Ys, .Zs, p{
  margin: 10px;
}
//
//input{
//  margin: 10px;
//}

input[type="button"], p{
  margin-top: 0px;
}

mat-form-field {
  padding-right: 10px;
  font-size: 12px;
}

#form1{
  height: calc(90vh);
  overflow-y:auto;
  width: calc(60vw);
}

.evenRow {
  background-color: #ccffcc;
}

.oddRow {
  background-color: #cce6ff;
}

.Xs{
  border: red solid 1px;
  background-color: #ff7f7f;
}

.Ys{
  border: green solid 1px;
  background-color: #7fbf7f;
}

.Zs{
  border: blue solid 1px;
  background-color: #7f7fff;
}

input[value="Add X"]{
  background-color: #ff7f7f;
}

input[value="Add Y"]{
  background-color: #7fbf7f;
}

input[value="Add Z"]{
  background-color: #7f7fff;
}

