<!--<form [formGroup]="form" id="form1" (ngSubmit)="onSubmit()">-->
<!--  <h1 fxLayoutAlign="space-around center">Bets for a day</h1>-->

<!--  <div class="topRow">-->
<!--    <mat-form-field>-->
<!--      <input matInput [formControl]="getDateField()" [matDatepicker]="picker" placeholder="Choose a date">-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--    </mat-form-field>-->
<!--    <button (click)="addMatch()" color="primary" mat-raised-button type="button" class="newMatchButton">New Match-->
<!--    </button>-->
<!--  </div>-->


<!--  <div formArrayName="matches">-->
<!--    <div *ngFor="let match of form['controls'].matches['controls']; let ix=index" class="matchesContainer"-->
<!--         [class.evenRow]="isEvenNumber(ix)"-->
<!--         [class.oddRow]="!isEvenNumber(ix)">-->
<!--      <div formGroupName="{{ix}}" fxLayoutGap="10px" style="margin-bottom: 10px;" class="matchContainer">-->
<!--        <div class="dayContainer">-->
<!--          <div class="matchInfoRow">-->
<!--            <mat-form-field>-->
<!--              <input matInput type="time" formControlName="time" placeholder="Time" required>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--              <input matInput type="text" formControlName="home" placeholder="Home" required>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--              <input matInput type="text" formControlName="away" placeholder="Away" required>-->
<!--            </mat-form-field>-->
<!--            <button mat-icon-button (click)="removeMatch(ix)" [disabled]="match['controls'].bets?.length > 0">-->
<!--              <mat-icon>clear</mat-icon>-->
<!--            </button>-->
<!--            <button (click)="addBet(ix)" color="primary" mat-icon-button type="button">-->
<!--              <mat-icon>add</mat-icon>-->
<!--            </button>-->
<!--          </div>-->

<!--          <div formArrayName="bets" class="betRow">-->
<!--            <div *ngFor="let bet of match['controls'].bets['controls']; let iy=index" formGroupName="{{iy}}"-->
<!--                 class="bets">-->
<!--              <mat-form-field >-->
<!--                <mat-label>Bookie</mat-label>-->
<!--                <mat-select formControlName="bookie" required>-->
<!--                  <mat-option *ngFor="let bookie of bookies" [value]="bookie">{{bookie}}</mat-option>-->
<!--                </mat-select>-->
<!--              </mat-form-field>-->
<!--              <mat-form-field>-->
<!--                <input matInput type="text" name="selection" formControlName="selection" placeholder="Selection"-->
<!--                       required>-->
<!--              </mat-form-field>-->
<!--              <mat-form-field class="odds">-->
<!--                <input matInput type="number" name="odds" formControlName="odds" placeholder="Odds" required>-->
<!--              </mat-form-field>-->
<!--              <mat-form-field class="stake">-->
<!--                <input matInput type="number" name="stake" formControlName="stake" placeholder="Stake" required>-->
<!--              </mat-form-field>-->
<!--              <button mat-icon-button (click)="removeBet(match, iy)">-->
<!--                <mat-icon>clear</mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <hr style="border: 4px solid blue;"/>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="actionRow">-->
<!--    <button mat-raised-button color="secondary" type="button" (click)="onNoClick()" style="margin-right: 5px;">Cancel-->
<!--    </button>-->
<!--    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>-->
<!--  </div>-->
<!--</form>-->
<!--&lt;!&ndash;    <pre style="font-size:15px">{{ form.value | json }}</pre>&ndash;&gt;-->
