<mat-toolbar color="primary">
  <div><a routerLink="/">Gambling Goof</a></div>
  <div class="recalculate-button">
    <button mat-raised-button color="accent" (click)="openBetslipDialog()">New Bet</button>
  </div>
<!--  <div class="recalculate-button">-->
<!--    <button mat-raised-button color="accent" (click)="openDayDialog()">New day</button>-->
<!--  </div>-->
<!--  <div class="recalculate-button">-->
<!--    <button mat-raised-button color="accent" (click)="openGoalDialog()">New Goal</button>-->
<!--  </div>-->
<!--  <div class="recalculate-button">-->
<!--    <button mat-raised-button color="accent" (click)="openSeasonBetDialog()">New season bet</button>-->
<!--  </div>-->
<!--  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>-->
<!--  </div>-->
</mat-toolbar>

