<div fxLayout="row" fxLayoutAlign="space-between">
<div fxLayout="column">
  <mat-list>
    <mat-list-item>Bookie</mat-list-item>
    <mat-list-item>Start bank</mat-list-item>
    <mat-list-item>Current bank</mat-list-item>
    <mat-list-item>#plays</mat-list-item>
  </mat-list>
</div>

<div *ngFor="let bookie1 of getBookies()" fxLayout="column">
  <mat-list>
    <mat-list-item>{{ bookie1.bookie }}</mat-list-item>
    <mat-list-item>{{ bookie1.initialBankroll }}</mat-list-item>
    <mat-list-item>{{ bookie1.currentBankroll }}</mat-list-item>
  </mat-list>
</div>
  <div></div>
</div>
