.stats {
  min-height: 200px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}


.ag-empty-row {
  position: relative;
}

.ag-empty-row:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  z-index: 1;
}

.ag-empty-row:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  //background: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

::ng-deep div.ag-cell[col-id = 'balanceChange'] {
  //color: red;
}

.cell-fail {
  text-align: center;
  font-weight: bold;
  background-color: #f44336;
  color: red;
}

.cell-pass {
  text-align: center;
  font-weight: bold;
  background-color: #4caf50;
}
