div.my-modal > div.modal-dialog {
  width: 1000px !important;
}
.mat-dialog-container {
  background-color: #000;
  height: 250px;
  min-width: 2000px!important;
}

mat-dialog-container {
  min-width: 2000px!important;

}

.new-bet {
  padding: 30px;
}

/deep/ mat-form-field-infix,
/deep/ mat-form-field {
  width: 200px!important;
}

.numberInput {
  width: 60px;
}

.match {
  width: 250px;
}

.date {
  width: 100px;
}
