<h1 mat-dialog-title fxLayoutAlign="center center">Add a new Bet</h1>
<mat-dialog-content>
  <div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div>
      <label>Home</label>
    </div>
    <div>
      <mat-form-field class="match">
        <input matInput [(ngModel)]="data[1].home" required>
      </mat-form-field>
    </div>
  </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>Away</label>
      </div>
      <div>
        <mat-form-field class="match">
          <input matInput [(ngModel)]="data[1].away" required>
        </mat-form-field>
      </div>
    </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div>
      <label>Selection</label>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="data[2].selection" required>
      </mat-form-field>
    </div>
  </div>
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">-->
<!--    <div>-->
<!--      <label>Date</label>-->
<!--    </div>-->
<!--    <div>-->
<!--      <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="data[0].date">-->
<!--      <owl-date-time #dt1></owl-date-time>-->
<!--    </div>-->
<!--  </div>-->
    <div fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>Type</label>
      </div>
      <div>
<!--        <mat-form-field>-->
<!--          <mat-select [(ngModel)]="data[2].betType" required>-->
<!--            <mat-option *ngFor="let type of betTypes" [value]="type">-->
<!--              {{type}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
      </div>
    </div>
  <div fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div>
      <label>Bookie</label>
    </div>
    <div>
      <mat-form-field>
        <mat-select [(ngModel)]="data[2].bookie" required>
          <mat-option *ngFor="let bookie of bookies" [value]="bookie">
            {{bookie}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div>
      <label>Stake</label>
    </div>
    <mat-form-field class="numberInput">
      <input matInput type="number" [(ngModel)]="data[2].stake" required>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div>
      <label>Odds</label>
    </div>
    <div>
      <mat-form-field class="numberInput">
        <input matInput type="number" [(ngModel)]="data[2].odds" required>
      </mat-form-field>
    </div>
  </div>
 <!-- <div fxLayout="row">
      <mat-form-field>
          <mat-select placeholder="Outcome"  ngModel name="outcome">
            <mat-option *ngFor="let outcome of outcomes | appKeys" [value]="outcome.key">
              {{outcome.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="numberInput">
          <input matInput type="number" [disabled]="true" [value]="getProjectedReturns(f)">
        </mat-form-field>
      </div>
-->
 <!-- </div> -->
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data[0]" cdkFocusInitial>Submit</button>
  </mat-dialog-actions>
  </div>
</mat-dialog-content>
