<div class="wrapper">
  <p-card header="Key numbers" class="stats">
    @for (value of values$$(); track value) {
      <div class="row">
        <div>Outcome</div>
        <div>{{ value.outcome }}</div>
      </div>
      <div class="row">
        <div>Number of bets</div>
        <div>{{ value.numberOfBets }}</div>
      </div>
      <div class="row">
        <div>Percentage</div>
        <div>{{ value.winPercentage }}</div>
      </div>
      <div class="row">
        <div>+/-</div>
        <div>{{ value.standing }}</div>
      </div>
      <div class="row">
        <div>ROI</div>
        <div>{{ value.roi }}</div>
      </div>

    }
  </p-card>
  <p-card header="Chart" class="chart">
<!--    <div class="card">-->
      <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
<!--    </div>-->
  </p-card>
</div>
