.stats {
  padding-top: 30px;
  padding-left: 30px;
}

.middle-stats {
  font-size: 14px;
  padding-top: 20px;
  padding-left: 30px;
}

.last-stats {
  font-size: 14px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 100px;
}

mat-table,
mat-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.mat-list-item-content {
  padding: 0;
}

.cardTitle {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.logo {
  size: 15px;
  font-size: 15px;
}

mat-card-content, mat-list-option {
  padding: 0;
}

.win {
  color: darkgreen;
  font-size: 15px!important;
  font-weight: 800!important;
}

.half-win {
  color: forestgreen;
  font-weight: 600;
}

.half-loss {
  color: indianred;
  font-weight: 600;
}

.loss {
  color: red;
  font-weight: 600;
}

.push-void {
  color: darkgrey;
  font-weight: 600;
}

.awaiting {
  color: blue;
  font-weight: 600;
}

.mat-list-item {
  font-size: 12px;
  padding: 0;
}

.mat-card-header {
  font-size: 22px;
}

.mat-card {
  background-color: white;
  width: 600px;

  .statsColumn {
    flex: 1;
    padding-left: 20px;
  }

  .stats {
    padding-left: 10px;
    padding-top: 10px;
  }
}

.mat-column-match {
  flex: 3;
}

.mat-column-selection {
  flex: 2;
}

.mat-column-bookie,
.mat-column-stake,
.mat-column-odds,
.mat-column-outcome {
  flex: 1;
}

.mat-column-return,
.mat-column-events {
  flex: 0.5;

}

mat-cell.mat-cell.cdk-column-events,
mat-cell.mat-cell.cdk-column-return {
  flex-direction: row-reverse;
}

.mat-form-field {
  max-width: 100px;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

mat-card.mat-card {
  padding: 30px!important;
  max-width: 600px!important;
  margin-left: 100px;
  margin-top: 40px;
  align-content: center;
}

.filterField {
  margin-left: 50px;
  width: 800px!important;
  align-content: center;
  align-self: center;

  mat-form-field {
    width: 200px!important;
    min-width: 200px!important;
    align-content: center;
    align-self: center;
  }
}


mat-table {
  margin-right: 50px;
  margin-left: 50px;
  background-color: white;
  margin-bottom: 100px;

  mat-header-cell {
    color: white;
    font-weight: 400;
    font-size: 16px;

    ::ng-deep div.mat-sort-header-arrow {
      color: black!important;
    }
  }

  mat-header-row {
    background-color: #717DAC; //#5E90BC; // #5D6974; //
    min-height: 48px!important;
    max-height: 48px!important;
  }

  mat-cell {
    font-size: 13px;
    font-weight: 100;
    height: 40px;
  }

  ::ng-deep mat-row.mat-row.ng-star-inserted {
    max-height: 40px!important;
    min-height: 40px!important;
    height: 40px!important;
  }

}
