.stats {
  padding: 30px;
}

.mat-list-item {
  font-size: 14px;
  padding: -10px;
}

.mat-card-header {
  font-size: 22px;
}

.mat-card {
  background-color: lightblue;
}

.mat-column-match {
  flex: 3;
}

.mat-column-selection {
  flex: 2;
}

.mat-column-bookie {
  flex: 1;
}

.mat-column-stake {
  /*text-align: right;*/
  flex: 1;
}

.mat-column-odds {
  /*text-align: right;*/
  flex: 1;
}

.mat-column-events {
  align-content: right;
  align-items: right;
}

.mat-column-outcome {
  flex: 1;
}

.mat-column-return {
  flex: 0.5;
  text-align: right;
}

.mat-form-field {
  max-width: 100px;
}



.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

/*

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.element-row {
  position: relative;
}
*/
