<div fxLayout="column">

  <div fxLayout="row" fxLayoutAlign="space-between center" class="stats">
    <div fxFlex>
      Total
    </div>
    <div fxFlex>
      bets: {{ dataSource.data.length }} &mdash;
      <span class="wins">{{flatStakeBets.wins + seasonBets.wins}} </span> /
      <span class="half-wins">{{ flatStakeBets.halfWins + seasonBets.halfWins}}</span> /
      <span class="half-losses">{{flatStakeBets.halfLoss + seasonBets.halfLoss}}</span> /
      <span class="losses">{{flatStakeBets.loss + seasonBets.loss}}</span> /
      <span class="push-void">{{flatStakeBets.voidPush + seasonBets.voidPush}}</span>
      <span class="awaiting">/({{flatStakeBets.awaiting + seasonBets.awaiting}})</span>
    </div>
    <div fxFlex
         *ngIf="totalReturn() > 0">Total return : +{{ totalReturn() | number : '1.2-2'}}
    </div>
    <div fxFlex
         *ngIf="totalReturn() <= 0">Total return : {{ totalReturn() | number : '1.2-2'}}
    </div>
    <div fxFlex>ROI: {{totalReturn()/totalStaked() * 100 | number : '1.2-2'}}%</div>
    <div fxFlex>
      Win ratio: {{ totalWins() / dataSource.data.length * 100 | number : '1.2-2'}} %
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="middle-stats">
    <div fxFlex>
      Season
    </div>
    <div fxFlex>
      bets: {{ seasonBets.bets.length }} &mdash;
      <span class="wins">{{seasonBets.wins}} </span> /
      <span class="half-wins">{{ seasonBets.halfWins}}</span> /
      <span class="half-losses">{{seasonBets.halfLoss}}</span> /
      <span class="losses">{{seasonBets.loss}}</span> /
      <span class="push-void">{{seasonBets.voidPush}}</span>
      <span class="awaiting">/({{seasonBets.awaiting}})</span>
    </div>
    <div fxFlex
         *ngIf="seasonBets.totalWin > 0">Total return : +{{ seasonBets.totalWin | number : '1.2-2'}}
    </div>
    <div fxFlex
         *ngIf="seasonBets.totalWin <= 0">Total return : {{ seasonBets.totalWin | number : '1.2-2'}}
    </div>
    <div fxFlex>ROI: {{ seasonBets.roi() | number : '1.2-2'}}%</div>
    <div fxFlex>
      Win ratio: {{  seasonBets.winRatio() | number : '1.2-2'}} %
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="last-stats">
    <div fxFlex>
      Flat stake
    </div>
    <div fxFlex>
      bets: {{ flatStakeBets.bets.length }} &mdash;
      <span class="wins">{{flatStakeBets.wins}} </span> /
      <span class="half-wins">{{ flatStakeBets.halfWins}}</span> /
      <span class="half-losses">{{flatStakeBets.halfLoss}}</span> /
      <span class="losses">{{flatStakeBets.loss}}</span> /
      <span class="push-void">{{flatStakeBets.voidPush}}</span>
      <span class="awaiting">/({{flatStakeBets.awaiting}})</span>
    </div>
    <div fxFlex
         *ngIf="flatStakeBets.totalWin > 0">Total return : +{{ flatStakeBets.totalWin | number : '1.2-2'}}
    </div>
    <div fxFlex
         *ngIf="flatStakeBets.totalWin <= 0">Total return : {{ flatStakeBets.totalWin | number : '1.2-2'}}
    </div>
    <div fxFlex>ROI: {{flatStakeBets.roi() | number : '1.2-2'}}%</div>
    <div fxFlex>
      Win ratio: {{ flatStakeBets.winRatio() | number : '1.2-2'}} %
    </div>
  </div>


  <div  fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="filter">
    </mat-form-field>
  </div>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="all" (change)="setFilter('all')">all</mat-button-toggle>
    <mat-button-toggle value="season" (change)="setFilter('season')">season</mat-button-toggle>
    <mat-button-toggle value="flatStake" (change)="setFilter('flatStake')">Flat stake</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-table #table [dataSource]="dataSource" matSort fxFlex="">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date | date:'dd/MM-yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="match">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Match</mat-header-cell>
      <mat-cell *matCellDef="let element">{{  element.match }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="selection">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Selection</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.selection }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="stake">
      <mat-header-cell *matHeaderCellDef>Stake</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.stake }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookie">
      <mat-header-cell *matHeaderCellDef>Bookie</mat-header-cell>
      <mat-cell *matCellDef="let element">{{bookie[element.bookie]}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="odds">
      <mat-header-cell *matHeaderCellDef>Odds</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.odds | number : '1.2-2' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ betType[element.betType] }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="events">
      <mat-header-cell *matHeaderCellDef>Events</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon (click)="openDialog(element)" class="editIcon">border_color</mat-icon>
        <mat-icon *ngIf="element.redCard" class="redCard" matTooltip="Red card">crop_square</mat-icon>
        <mat-icon *ngIf="element.missedPen" class="missedPen" matTooltip="Missed penalty">error</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="outcome">
      <mat-header-cell *matHeaderCellDef>Outcome</mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <mat-form-field>
          <mat-select [ngModel]="element.outcome"
                      (ngModelChange)="element.outcome = $event"
                      (change)="updateValue(element)">
            <mat-option *ngFor="let outcome of outcomes | appKeys"
                        [value]="outcome.key">
              {{ outcome.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="return" >
      <mat-header-cell *matHeaderCellDef>Return</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngStyle]="{'color': setStyle(element)}" >{{ element.valueReturn | number : '1.2-2'}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
