div.my-modal > div.modal-dialog {
  width: 1000px !important;
}

#mat-dialog-0,
.mat-dialog-container,
div.cdk-overlay-container mat-dialog-container.mat-dialog-container {
  background-color: red;
  height: 250px;
  width: 1200px!important;
  min-width: 2000px!important;
}

mat-dialog-container {
  min-width: 2000px!important;

}

.mat-dialog-content {
  min-width: 400px;
  min-height: 350px;
  max-height: 1000px;
}

.mat-dialog-actions button {
  vertical-align: bottom;
}

.new-bet {
  padding: 30px;
}

mat-form-field-infix,
mat-form-field {
  width: 200px!important;
}

.numberInput {
  width: 60px;
}

.match {
  width: 250px;
}

.date {
  width: 100px;
}
