<mat-tab-group>
  <mat-tab label="New Bet">
    <app-new-bet></app-new-bet>
  </mat-tab>
  <mat-tab label="Live Bets">

  </mat-tab>
  <mat-tab label="Daily Bet">
    <app-bets-overview></app-bets-overview>
  </mat-tab>
  <mat-tab label="Eerste Divisie">
    <app-eerste-divisie-overview></app-eerste-divisie-overview>
  </mat-tab>
  <mat-tab label="Daily Single">

  </mat-tab>
  <mat-tab label="Daily Double">

  </mat-tab>
  <mat-tab label="Daily Treble">

  </mat-tab>
  <mat-tab label="Daily Fivefold">

  </mat-tab>
  <mat-tab label="Season Bets">

  </mat-tab>
</mat-tab-group>
