<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="New Bet">
    <app-new-bet></app-new-bet>
  </mat-tab>
  <mat-tab label="New Double">
    <app-new-double></app-new-double>
  </mat-tab>

  <mat-tab label="Daily Web Single">
    <app-bets-overview></app-bets-overview>
  </mat-tab>
  <mat-tab label="Daily Single">
    <app-bets-overview></app-bets-overview>
  </mat-tab>
  <mat-tab label="Daily Double" >

  </mat-tab>
  <mat-tab label="Minor Plays">

  </mat-tab>
  <mat-tab label="Daily Treble">

  </mat-tab>
  <mat-tab label="Daily Fivefold">
  </mat-tab>
  <mat-tab label="Season Bets">
  </mat-tab>
</mat-tab-group>
