<mat-expansion-panel *ngFor="let day of dayRows"
                     [class.winningDay]="day.result > 0"
                     [class.losingDay]="day.result < 0">
  <mat-expansion-panel-header>
    <div class="headerContent">
      <div class="day">
        <div>
          <div class="label">Day</div>
          <div class="valueRow">{{day.time | date:'dd MMM'}}</div>
        </div>
      </div>
      <div class="games">
        <div>
          <div class="label">Games</div>
          <div class="valueRow">{{day.matchesInformation}}</div>
        </div>
      </div>
      <div class="winRatio">
        <div>
          <div class="label">Outcome</div>
          <div class="valueRow">{{day.outcome}}/{{day.totalBets}}</div>
        </div>
      </div>
      <div class="result">
        <div>
          <div class="label">Result</div>
          <div class="valueRow">{{day.result}}</div>
        </div>
      </div>
      <div class="verified">
        <div>
          <div class="label">Verified</div>
          <div>
            <mat-icon *ngIf="day.verified" [ngStyle]="{'color': 'green'}">check_circle</mat-icon>
            <mat-icon *ngIf="!day.verified">check_circle_outline</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel-header>
  <hr/>
  <div *ngFor="let match of day.bets">
    <div class="matchRow" *ngFor="let bet of match.bets">
      <div class="match">{{match.match}}</div>
      <div class="selection">{{bet.selection}}</div>
      <div class="stake">{{bet.stake}} @ {{bet.odds}}</div>
      <div class="outcome">{{bet.valueReturn}}</div>
      <div class="verified">
        <mat-icon *ngIf="bet.verifiedResult" [ngStyle]="{'color': 'green'}">check_circle</mat-icon>
        <mat-icon *ngIf="!bet.verifiedResult">check_circle_outline</mat-icon>
      </div>
    </div>
  </div>
</mat-expansion-panel>
