<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>Daily Bet</h1>
    <p>A daily bet picked from other betters, with a stake of 1 point. Usually from Sjakktrekk</p>
  </section>
  <section>
    <h1>Daily Single</h1>
    <p>A single picked from own selections, stake of 1 point. At least 1.8 odds and looking for strike rate at 60%</p>
  </section>
  <section>
    <h1>Daily Double</h1>
    <p>A double picked from own selections, stake of 1 point. At least 2.5 odds and looking for strike rate at 70%</p>
  </section>
  <section>
    <h1>Daily Treble</h1>
    <p>A treble of picks at 0,5 points. Safer picks with a min. odds of 3</p>
  </section>
  <section>
    <h1>Daily Fivefold</h1>
    <p>Five safer selections, looking for odds of 5 at least</p>
  </section>
  <section>
    <h1>Season Bets</h1>
    <p></p>
  </section>
</div>

