@import 'styles';

h1 {
  align-self: center;
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: space-between;
}

.row {
  display: flex;
  //max-width: 400px;
  //padding-bottom: $spacing-one-and-half;
  gap: 16px;
  height: 102px;
}

mat-form-field ::ng-deep div {
  max-height: 56px;
}

.partBetRow {
  display: flex;
  flex: 1;
  //spac: space-between;
}

.stakeForm,
.oddsForm {
  max-width: 100px;
}

.balanceChangeForm {
  max-width: 120px;
}

.outcomeForm {
  max-width: 140px;
}


.selectionsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.partBetRow {
  display: flex;
  flex: 1;
}

.groupForm {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.selectionForm {
  justify-content: space-between;
}

.partBetRow,
.groupForm,
.selectionsContainer,
.selectionRow {
  max-width: calc(80vw - 100px);
}

mat-divider {
  padding-top: $spacing-one-and-half;
}

.flexOne,
.flexTwo,
.flexThree,
.flexFour,
.flexFive {
  display: flex;
}

.flexOne {
  flex: 1;
}

.flexTwo {
  flex: 2;
}

.flexThree {
  flex: 3;
}

.flexFour {
  flex: 4;
}

.flexFive {
  flex: 5;
}

.evenRow {
  background-color: #ccffcc;
}

.oddRow {
  background-color: #cce6ff;
}



