<h1>{{data?.bookie ? 'Edit bet' : 'New bet'}}</h1>
<mat-dialog-content>
  <form [formGroup]="betForm">
    <div class="column">
      <div class="row">
        <div class="dense-2">
          <mat-form-field label="Date">
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="dense-3">
          <mat-form-field label="Bookie" class="row">
            <mat-label>Bookie</mat-label>
            <mat-select formControlName="bookie">
              <mat-option *ngFor="let bookie of bookies" [value]="bookie">{{bookie}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="dense-3">
          <mat-form-field label="Stake" class="stakeForm">
            <mat-label>Stake</mat-label>
            <input matInput formControlName="stake">
          </mat-form-field>
        </div>

        <div class="dense-1">
          <mat-form-field label="Odds" class="oddsForm">
            <mat-label>Odds</mat-label>
            <input matInput formControlName="odds">
          </mat-form-field>
        </div>

<!--        <div class="dense-2">-->
          <mat-form-field label="Balance change" class="balanceChangeForm">
            <mat-label>Balance change</mat-label>
            <input matInput formControlName="balanceChange">
          </mat-form-field>
<!--        </div>-->

<!--        <div class="dense-1">-->
          <mat-form-field label="Outcome" class="row">
            <mat-label>Outcome</mat-label>
            <mat-select formControlName="outcome">
              <mat-option *ngFor="let outcome1 of outcomes" [value]="outcome1">{{outcome1}}</mat-option>
            </mat-select>
          </mat-form-field>
<!--        </div>-->

      </div>
      <div>
        <mat-divider></mat-divider>
        <div class="row">
          <h3>Selections</h3>
          <p-button icon="pi pi-plus" aria-label="Add selection" (click)="addSelection()" size="small"></p-button>
        </div>

        <div formArrayName="selections" class="selectionsContainer">
          <div *ngFor="let selection of betForm.controls.selections['controls']; let index=index"
               class="partBetRow dense-1"
               [class.evenRow]="isEvenNumber(index)"
               [class.oddRow]="!isEvenNumber(index)">
            <div formGroupName="{{index}}" class="groupForm">
              <div class="row selectionRow">
                  <mat-form-field label="match" class="flexFive">
                    <mat-label>Match</mat-label>
                    <input matInput formControlName="match">
                  </mat-form-field>

                  <mat-form-field label="selection" class="flexFour">
                    <mat-label>Selection</mat-label>
                    <input matInput formControlName="selection">
                  </mat-form-field>

                  <mat-form-field label="odds" (change)="recalculateOdds()" class="flexTwo">
                    <mat-label>Odds</mat-label>
                    <input matInput formControlName="odds">
                  </mat-form-field>

                  <mat-form-field label="Outcome" class="outcomeForm flexTwo">
                    <mat-label>Outcome</mat-label>
                    <mat-select formControlName="outcome" (valueChange)="updateOutcome()">
                      <mat-option *ngFor="let outcome1 of outcomes" [value]="outcome1">{{outcome1}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                <div class="flexOne">
                  <p-button icon="pi pi-minus" [text]="true" aria-label="Remove selection" (click)="removeSelection(index)">
                  </p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
  <p-button severity="secondary" (click)="onCancel()" cdkFocusInitial>Cancel</p-button>
  <p-button severity="success" (click)="onSubmit()" [disabled]="!betForm.valid">Submit</p-button>
</mat-dialog-actions>
