<section class="new-bet" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onNewBet(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="1000px">
      <mat-card-title fxLayoutAlign="center">Add a new Bet!</mat-card-title>
      <mat-card-content fxLayoutAlign="center" fxLayout="column">

        <div fxLayout="row">
          <mat-form-field>
            <mat-select  ngModel name="numberOfBets" (change)="setNumber($event)">
              <mat-option *ngFor="let numbah of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="numbah">
                {{numbah}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Type of Bet"  ngModel name="betType" required>
              <mat-option *ngFor="let betType of betTypes | appKeys" [value]="betType.key">
                {{betType.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div  fxLayout="row" *ngFor="let bet of betPart; let i = index">
            <mat-form-field>
              <input matInput placeholder="Match"  [(ngModel)]="betPart[i].match" name="match"  required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Selection" [(ngModel)]="betPart[i].selection" name="selection" required>
            </mat-form-field>
            <mat-form-field class="numberInput">
              <input matInput type="number" placeholder="Odds" [(ngModel)]="betPart[i].odds" name="odds" required>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Outcome"  [(ngModel)]="betPart[i].outcome" name="outcome" >
                <mat-option *ngFor="let outcome of outcomes | appKeys" [value]="outcome.key">
                  {{outcome.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <mat-divider></mat-divider>
        </div>

        <div fxLayout="row">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="date" ngModel name="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Bookie" ngModel name="bookie" required>
              <mat-option *ngFor="let bookie of bookies | appKeys" [value]="bookie.key">
                {{bookie.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="numberInput">
            <input matInput type="number" placeholder="Stake" ngModel name="stake" required>
          </mat-form-field>
          <mat-form-field class="numberInput">
            <input matInput type="number" [disabled]="true" [value]="getOdds()">
          </mat-form-field>
          <mat-form-field class="numberInput">
            <input matInput type="number" [disabled]="true" [value]="getReturns(f)">
          </mat-form-field>
          <mat-divider></mat-divider>
        </div>

      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-button [disabled]="f.invalid">Add</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
