/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-material.css';
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/


html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #e6f2ff;
}

body{
  margin: 0;
}

$spacing-one: 16px;
$spacing-half: 8px;
$spacing-one-and-half: 24px;

.redCard, .missedPen {
  font-size: 16px !important;
  height: 16px;
  width: 16px;
  color: red;
}

.mat-progress-bar-fill::after {
  // background-color: purple;
  background-color: #1E457C;
}

mat-progress-bar.mat-progress-bar.complete .mat-progress-bar-fill::after {
  background-color: green;
}

mat-progress-bar.mat-progress-bar {
  height: 8px;
}

.mat-progress-bar-buffer {
  background: #E4E8EB;
}

.mat-progress-bar {
  border-radius: 2px;
}

.mat-progress-linear .mat-container .mat-bar{
  height: 20px;
}


.editIcon {
  font-size: 16px !important;
  height: 16px;
  width: 16px;
  color: dodgerblue;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-dialog-container,
.mat-dialog-container {
  min-width: 400px!important;
}

.new-betSlip-dialog {
  background-color: red;
  padding: 24px;
}

@mixin flex(
  $direction: row,
  $flexSize: 1,
  $gap: null,
  $justifyContent: null,
  $alignItems: null
) {
  display: flex;
  flex-direction: $direction;
  flex: $flexSize;
  gap: $gap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
