/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-material.css';
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  button,
  input {
    /* CSS to Reset */
  }
}


html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  //background-color: #e6f2ff;
  background-color: rgba(74, 74, 74, 0.04)
  //background-color: rgba(255, 255, 255, 0.33)
}

body{
  margin: 0;
}

$spacing-one: 16px;
$spacing-half: 8px;
$spacing-one-and-half: 24px;

.redCard, .missedPen {
  font-size: 16px !important;
  height: 16px;
  width: 16px;
  color: red;
}

.mat-progress-bar-fill::after {
  // background-color: purple;
  background-color: #1E457C;
}

mat-progress-bar.mat-progress-bar.complete .mat-progress-bar-fill::after {
  background-color: green;
}

mat-progress-bar.mat-progress-bar {
  height: 8px;
}

.mat-progress-bar-buffer {
  background: #E4E8EB;
}

.mat-progress-bar {
  border-radius: 2px;
}

.mat-progress-linear .mat-container .mat-bar{
  height: 20px;
}


.editIcon {
  font-size: 16px !important;
  height: 16px;
  width: 16px;
  color: dodgerblue;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-dialog-container,
.mat-dialog-container {
  min-width: 400px!important;
}

.new-betSlip-dialog {
  background-color: red;
  padding: 24px;
}

@mixin flex(
  $direction: row,
  $flexSize: 1,
  $gap: null,
  $justifyContent: null,
  $alignItems: null
) {
  display: flex;
  flex-direction: $direction;
  flex: $flexSize;
  gap: $gap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.dense-1 {
  @include mat.all-component-densities(-1);
}

.dense-2 {
  @include mat.all-component-densities(-2);
}

.dense-3 {
  @include mat.all-component-densities(-3);
}


.cell-fail {
  text-align: center;
  font-weight: bold;
  //background-color: #f44336;
  //background-color: hsla(0, 100%, 50%, 0.3);
  //background-color: rgb(255, 0, 0);opacity:0.2;
  color: black;
  //color: red;
}

.cell-pass {
  text-align: center;
  font-weight: bold;
  //background-color: #4caf50;
  //background-color:hsla(120,100%,75%,0.3);
}
