/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/


html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;

}

body{
  margin: 0;
}

.redCard, .missedPen {
  font-size: 16px !important;
  height: 16px;
  width: 16px;
  color: red;
}


.editIcon {
  font-size: 16px !important;
  height: 16px;
  width: 16px;
  color: dodgerblue;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-dialog-container,
.mat-dialog-container {
  min-width: 400px!important;
}
