<h1 mat-dialog-title fxLayoutAlign="center center">Add a new season bet</h1>
<mat-dialog-content>
  <div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>Selection</label>
      </div>
      <div>
        <mat-form-field class="bet">
          <input matInput [(ngModel)]="bet.selection" required>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>Type</label>
      </div>
      <div>
        <mat-form-field>
          <mat-select [(ngModel)]="bet.subtype" required>
            <mat-option *ngFor="let type of subtypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>Placed date</label>
      </div>
      <div>
        <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="bet.placedDate">
        <owl-date-time #dt1></owl-date-time>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>Settle date</label>
      </div>
      <div>
        <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" [(ngModel)]="bet.settledDate">
        <owl-date-time #dt2></owl-date-time>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>Stake</label>
      </div>
      <div>
        <mat-form-field class="bet">
          <input matInput [(ngModel)]="bet.stake" required>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>Odds</label>
      </div>
      <div>
        <mat-form-field class="bet">
          <input matInput [(ngModel)]="bet.odds" required>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>Bookie</label>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Bookie"
                 aria-label="Number"
                 matInput
                 required
                 [(ngModel)]="bet.bookie"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of bookies" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div>
        <label>League</label>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="League"
                 aria-label="Number"
                 matInput
                 required
                 [(ngModel)]="bet.league"
                 [matAutocomplete]="auto1">
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let option of league" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button (click)="onNoClick()">CANCEL</button>
    <button mat-button [mat-dialog-close]="bet" cdkFocusInitial>ADD</button>
  </mat-dialog-actions>
</mat-dialog-content>
