<h1>New bet</h1>
<mat-dialog-content>
  <form [formGroup]="betForm">
    <div class="column">
      <div class="row">
        <mat-form-field label="Date">
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field label="Category" class="row">
          <mat-label>Bet category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let option of betCategory" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="row">
        <mat-form-field label="Stake">
          <mat-label>Stake</mat-label>
          <input matInput formControlName="stake">
        </mat-form-field>

        <mat-form-field label="Odds">
          <mat-label>Odds</mat-label>
          <input matInput formControlName="odds">
        </mat-form-field>
        <mat-form-field label="Balance change">
          <mat-label>Balance change</mat-label>
          <input matInput formControlName="balanceChange">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field label="Bookie" class="row">
          <mat-label>Bookie</mat-label>
          <mat-select formControlName="bookie">
            <mat-option *ngFor="let bookie of bookies" [value]="bookie">{{bookie}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field label="Outcome" class="row">
          <mat-label>Outcome</mat-label>
          <mat-select formControlName="outcome">
            <mat-option *ngFor="let outcome1 of outcomes" [value]="outcome1">{{outcome1}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-divider></mat-divider>
        <div class="row">
          <h3>Selections</h3>
          <button mat-icon-button matTooltip="Basic" aria-label="Add selection" (click)="addSelection()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div formArrayName="selections">
          <div *ngFor="let selection of betForm.controls.selections['controls']; let index=index"
               class="partBetRow"
               [class.evenRow]="isEvenNumber(index)"
               [class.oddRow]="!isEvenNumber(index)">
            <div formGroupName="{{index}}">
              <div class="row">
                <mat-form-field label="match">
                  <mat-label>Match</mat-label>
                  <input matInput formControlName="match">
                </mat-form-field>
                <mat-form-field label="selection">
                  <mat-label>Selection</mat-label>
                  <input matInput formControlName="selection">
                </mat-form-field>
                <mat-form-field label="odds"[color]="" (change)="recalculateOdds()">
                  <mat-label>Odds</mat-label>
                  <input matInput formControlName="odds">
                </mat-form-field>
                <mat-form-field label="Outcome" class="row">
                  <mat-label>Outcome</mat-label>
                  <mat-select formControlName="outcome" (valueChange)="calculateOutcome()">
                    <mat-option *ngFor="let outcome1 of outcomes" [value]="outcome1">{{outcome1}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-icon-button matTooltip="Basic" aria-label="Remove selection" (click)="removeSelection(index)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button color="accent" (click)="onCancel()" cdkFocusInitial>Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="!betForm.valid">Submit</button>
</mat-dialog-actions>
